<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.qrcode.dao.mapper.TblBrowserMapper">

	<resultMap id="BaseResultMap" type="com.dubbo.entity.TblBrowserRoute">
    <id column="ID" jdbcType="DECIMAL" property="id"/>
    <result column="BR_ID" jdbcType="DECIMAL" property="brId"/>
    <result column="BR_NAME" jdbcType="VARCHAR" property="brName"/>
    <result column="BR_ST" jdbcType="CHAR" property="brSt"/>
    <result column="ADAPTER_K" jdbcType="VARCHAR" property="adapterK"/>
    <result column="ADAPTER_V" jdbcType="VARCHAR" property="adapterV"/>
    <result column="TC_ID" jdbcType="DECIMAL" property="tcId"/>
    <result column="MISC1" jdbcType="VARCHAR" property="misc1"/>
    <result column="MISC2" jdbcType="VARCHAR" property="misc2"/>
    <result column="MISC3" jdbcType="VARCHAR" property="misc3"/>
    <result column="MISC4" jdbcType="VARCHAR" property="misc4"/>
	</resultMap>
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="java.util.Map"就表示将查询结果封装Map对象返回
    -->
    <!-- 
        根据id查询得到一个user对象
     -->
    <select id="selectAdapters" resultType="java.util.Map">
        select b.*,c.pay_url from TBL_BROWSER_ROUTE b, TBL_TRADE_CHANNEL c where b.tc_id=c.tc_id
    </select>
</mapper>