body{
    background-color: #f5f5f5;
}
@media only screen and (max-width: 1080px) {
    html, body {
        font-size: 16.875px;
    }
}
@media only screen and (max-width: 960px) {
    html, body {
        font-size: 15px;
    }
}
@media only screen and (max-width: 800px) {
    html, body {
        font-size: 12.5px;
    }
}
@media only screen and (max-width: 720px) {
    html, body {
        font-size: 11.25px;
    }
}
@media only screen and (max-width: 640px) {
    html, body {
        font-size: 12px;

    }
}

/* CSS RESET */
* { padding: 0; margin: 0; }
body { font: 12px "微软雅黑", Arial; background: #efeff4; min-width: 320px; max-width: 640px; color: #000; }
a { text-decoration: none; color: #666666; }
a, img { border: none; }
img { vertical-align: middle; }
ul, li { list-style: none; }
em, i { font-style: normal; }
.clear { clear: both }
.clear_wl:after { content: "."; height: 0; visibility: hidden; display: block; clear: both; }
.fl { float: left }
.fr { float: right }
.all_w { width: 91.3%; margin: 0 auto; }
/*基础字体属性*/
.f10 { font-size: 10px }
.f11 { font-size: 11px }
.f12 { font-size: 12px }
.f14 { font-size: 14px }
.f13 { font-size: 13px }
.f16 { font-size: 16px }
.f18 { font-size: 18px }
.f20 { font-size: 20px }
.f22 { font-size: 22px }
.f24 { font-size: 24px }
.f26 { font-size: 26px }
.f28 { font-size: 28px }
.f32 { font-size: 32px }
.fb { font-weight: bold }
/********/
.header { background: #393a3e; color: #f5f7f6; height: auto; overflow: hidden; }
.gofh { float: left; height: 45px; display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; }
.gofh a { padding-right: 10px; border-right: 1px solid #2e2f33; }
.gofh a img { width: 40%; }
.ttwenz { float: left; height: 45px; line-height: 45px;}
.ttwenz h4 { font-size: 16px; font-weight: 400; margin-top: 2px; }
.ttwenz h5 { font-size: 12px; font-weight: 400; color: #6c7071; }
.wenx_xx { text-align: center; font-size: 16px; padding: 18px 0; }
.wenx_xx .wxzf_price { font-size: 45px; }
.skf_xinf { height: 43px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; line-height: 43px; background: #FFF; font-size: 12px; overflow: hidden; }
.skf_xinf .bt { color: #767676; float: left; }
.ljzf_but { border-radius: 3px; height: 45px; line-height: 45px; background: #44bf16; display: block; text-align: center; font-size: 16px; margin-top: 14px; color: #fff; }

